@page "{id:int?}"
@model DashboardManager.Pages.Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.City)
        </dd>
        <dt class="col-sm-2">
            Departement
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartementName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-page="./Edit" asp-route-id="@Model.Client.Id">Modifier</a>
    <a class="btn btn-outline-primary" asp-page="./Index">retour</a>
</div>
