@page
@model DashboardManager.Pages.Commercials.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Commercial</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commercial.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.CatchmentArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commercial.CatchmentArea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.NbQuotes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commercial.NbQuotes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.NbContracts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commercial.NbContracts)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.Clients)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Commercial.Clients?.Count() > 0)
            {
                <ul class="list-group">
                    @foreach (var x in Model.Commercial.Clients)
                    {
                        <li>@x.Name</li>
                    }
                </ul>
            }
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commercial.CreationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Commercial.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
