@page "{id:int?}"
@model DashboardManager.Pages.Commercials.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Commercial</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commercial.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.CatchmentArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commercial.CatchmentArea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.NbQuotes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commercial.NbQuotes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.NbContracts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commercial.NbContracts)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.Departement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commercial.Departement.Name) (@Html.DisplayFor(model => model.Commercial.Departement.Code))
        </dd>

        @if (Model.Commercial.Clients?.Count() > 0)
        {
            <dt class="col-sm-2">Clients</dt>
            <dd class="col-sm-10">
                <p>Nb Clients : <span class="badge badge-primary badge-pill">@Model.Commercial.Clients.Count()</span></p>
                <div class="list-group d-inline-block">
                    @foreach (var x in Model.Commercial.Clients)
                    {
                        <a asp-page="/Clients/Details" asp-route-id="@x.Id" class="list-group-item list-group-item-action">@x.Name <i class="fas fa-link ml-2"></i></a>
                    }
                </div>
            </dd>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commercial.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commercial.CreationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Commercial.Id" class="btn btn-info">Modifier</a>
    <a asp-page="./Index" class="btn btn-outline-primary">Retour</a>
</div>
