@page "{id:int?}"
@model DashboardManager.Pages.Commercials.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Commercial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Commercial.Id" />
            <div class="form-group">
                <label asp-for="Commercial.Name" class="control-label"></label>
                <input asp-for="Commercial.Name" class="form-control" />
                <span asp-validation-for="Commercial.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commercial.CatchmentArea" class="control-label"></label>
                <input asp-for="Commercial.CatchmentArea" class="form-control" />
                <span asp-validation-for="Commercial.CatchmentArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commercial.NbQuotes" class="control-label"></label>
                <input asp-for="Commercial.NbQuotes" class="form-control" />
                <span asp-validation-for="Commercial.NbQuotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commercial.NbContracts" class="control-label"></label>
                <input asp-for="Commercial.NbContracts" class="form-control" />
                <span asp-validation-for="Commercial.NbContracts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commercial.CreationDate" class="control-label"></label>
                <input asp-for="Commercial.CreationDate" class="form-control" />
                <span asp-validation-for="Commercial.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commercial.Departement" class="control-label"></label>
                <select asp-for="SelectedDepartementId" class="form-control" asp-items="Model.Departements">
                    <option value="">Choisir</option>
                </select>
                <span asp-validation-for="Commercial.Departement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commercial.Clients" class="control-label">Clients</label><br />
                <select asp-for="SelectedClientsIds" asp-items="Model.Clients" class="p-2 w-100" size="@Model.Clients.Count()"></select>
                <span asp-validation-for="Commercial.Clients" class="text-danger"></span>
            </div>

            @*@if (Model.Clients?.Count > 0)
            {
                <div class="form-group">
                    <p>Clients</p>
                    @foreach (SelectListItem x in Model.Clients)
                    {
                        <div>
                            <input type="checkbox" name="SelectedClientsIds" id="@x.Value" value="@x.Value" checked="@(x.Selected ? "checked" : "")"/>
                            <label for="@x.Value">@x.Text</label>
                        </div>
                    }
                </div>
            }*@

            <div class="form-group">
                <input type="submit" value="Sauver" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-outline-info">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
