@page "{searchString?}"
@model DashboardManager.Pages.Commercials.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <div class="input-group mb-3">
        <input type="text" asp-for="SearchString" class="form-control" placeholder="Filtre par nom" aria-label="Recipient's username" aria-describedby="basic-addon2" />
        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" asp-for="SearchString" value="Rechercher" />
        </div>
    </div>
</form>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].CatchmentArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].NbQuotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].NbContracts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Commercial)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatchmentArea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbQuotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NbContracts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
