@page "{searchString?}"
@model DashboardManager.Pages.Commercials.IndexModel

@{
    ViewData["Title"] = "Commerciaux";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-success" asp-page="Create">Ajouter <i class="fas fa-plus"></i></a>
</p>

<form>
    <div class="input-group mb-3">
        <input type="text" asp-for="SearchString" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" />
        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="Rechercher" />
        </div>
    </div>
</form>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].CatchmentArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].NbQuotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].NbContracts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].Departement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commercial[0].Clients)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Commercial)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatchmentArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbQuotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbContracts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.Label(String.Format("{0} ({1})", item.Departement.Name, item.Departement.Code))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clients.Count)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                <a class="btn btn-success" asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
